body {
    background: #CCC;
}

#banner {
    width: 100%;
}

h1,
p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

/* Todos os STRONG dentro de EM */
em strong {
    color: red;
}

.beneficio {
    font-style: italic;
}