header {
    background: #DDD;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 60px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #A52A2A;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 30px 20px;
    margin: 0 1.5%;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #A52A2A;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: #FA8072;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos img {
    max-width: 225px;
    height: auto;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: #222;
    padding: 40px;
}

.copyright {
    color: #FFF;
    font-size: 13px;
    margin: 20px 0 0;
}